{% load static %}
<!DOCTYPE html>
<html lang="tr">
{% include 'partials/base.html' %}
<div class="scrollTop" onclick="scrollToTop()"><img src="{% static 'images/chevron-up-solid.png' %}" alt="" style="width: 30px;height: 30px;"></div>
<script type="text/javascript">
  window.addEventListener('scroll',function(){
    var scroll = document.querySelector('.scrollTop');
    scroll.classList.toggle("active", window.scrollY > 500)
  })
  function scrollToTop(){
    window.scrollTo({
      top: 0 
    })
  }
 
</script>
    <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-4">
          <a class="navbar-brand" href="{% url 'home' %}">
            <p class="header_title">ALEV DUMANOĞLU</p>
          </a>
          <div class="collapse navbar-collapse mt-0" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item {% if navbar == 'home' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'home' %}">ana sayfa</a>
                </li>
                <li class="nav-item {% if navbar == 'about' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'about' %}">
                    ben kimim?
                  </a>
                </li>
                <li class="nav-item {% if navbar == 'blog' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'blog' %}">
                    yazılarım
                  </a>
                </li>
                <li class="nav-item {% if navbar == 'contact' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'contact' %}">bana ulaşın</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>
