{% load static %}
<!DOCTYPE html>
<html lang="tr">
{% include 'partials/base.html' %}
<div class="rotate">
  <a href="{% url 'home' %}">
    <img src="{% static 'images/ad-logo.png' %}" alt="">
  </a>
</div>


<nav class="navbar-expand-lg shadow-lg" style="z-index: 10;">
          <span  class="navbar-brand">
              <a href="{% url 'home' %}">ALEV DUMANOĞLU</a>
              <br>
              <small>Klİnİk Psİkolog - Eğİtİmcİ</small>
          </span>
      <div class="navbar-toggler-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'home' %} active {% endif %}" href="{% url 'home' %}">ana sayfa</a>
            </li>
            <li class="nav-item ">
                    <a class="nav-link {% if navbar == 'about' %} active {% endif %}" href="{% url 'about' %}">BİYOGRAFİ</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link {% if navbar == 'works' %} active {% endif %}" href="{% url 'works' %}">Çalışmalar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if navbar == 'blog' %} active {% endif %}" href="{% url 'blog' %}">makaleler</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link {% if navbar == 'contact' %} active {% endif %}" href="{% url 'contact' %}">İLETİŞİM</a>
            </li>
          </ul>
  </div>
</nav>