{% include 'partials/nav.html' %}
{% load static %}
<section class="volunteer-section">
  <div class="container">
    <form class="custom-form volunteer-form mb-5 mb-lg-0"action="{% url 'contact' %}" method="POST" role="form">
      <div class="row">
        <div class="col-md-6 col-lg-6 px-0">
          <div class="map_container">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3125.254793627896!2d27.144888899999998!3d38.4355833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzjCsDI2JzA4LjEiTiAyN8KwMDgnNDEuNiJF!5e0!3m2!1sen!2str!4v1708112782831!5m2!1sen!2str" width="575" height="665" class="map-set" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 px-0" >
          {% csrf_token %}
          <h3 class="mb-4 centered-responsive-contact-form">İletişim Formu</h3>
          <div class="row">
            <div class="col-md-12 mb-2">
              {{form.name}}
            </div>
            <div class="col-md-12 mb-2">
              {{form.email}}
            </div>
            <div class="col-md-12 mb-2">
              {{form.subject}}
            </div>
            <div class="col-md-12 mb-2">
              {{form.content}}
            </div>
            <button type="submit">Gönder</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{% include 'partials/footer.html' %}


  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script type="text/javascript" src="js/custom.js"></script>
</body>

<style>*::-webkit-scrollbar {
  width: 16px;
}

