{% load static %}
{% include 'partials/nav.html' %}
<section class="pb-4" style="background-color: var(--section-bg-color);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mt-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-1"><a href="" class="title-post">xxx</a></h5>
                            <small class="mb-2 text-secondary">xxx</small>
                            <p style="color: black;">xxx</p>
                        </div>
                        <a href="" class="custom-btn btn">Devamını Gör</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-1"><a href="" class="title-post">xxx</a></h5>
                            <small class="mb-2 text-secondary">xxx</small>
                            <p style="color: black;">xxx</p>
                        </div>
                        <a href="" class="custom-btn btn">Devamını Gör</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 mt-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-1"><a href="" class="title-post">xxx</a></h5>
                            <small class="mb-2 text-secondary">xxx</small>
                            <p style="color: black;">xxx</p>
                        </div>
                        <a href="" class="custom-btn btn">Devamını Gör</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'partials/footer.html' %}