{% load static %}
{% include 'partials/nav.html' %}
{% block content %}
    <!--<div class="container">
        <div class="row">
            <div class= "col-md-12" >
                {% for post in posts %}
                <div class="card shadow mt-1 mb-3">
                    <div class="card-body" >
                        <div class="row" style="border: none;">
                                <div class = "col-md-12 text-success">
                                    <small> {{ post.date_post }}</small>
                                    <br>
                                    <a class="h3 text-warning" href="{% url 'postdetail' post.id %}">{{ post.title }}</a>
                                    <p class="text-justify my-3 text-dark" >{{ post.content|truncatechars:250 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>-->   

<section id="section_3">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-12 col-12 text-center">
                <h2>Our Causes</h2>
            </div>-->
            
            {% for post in posts %}
            <div class="col-lg-4 col-md-6 col-12 mt-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-1"><a href="{% url 'postdetail' post.id %}" class="title-post">{{ post.title }}</a></h5>
                            <small class="mb-2">{{ post.date_post }}</small>
                            <p>{{ post.content|truncatechars:230 }}</p>
                        </div>
                        <a href="{% url 'postdetail' post.id %}" class="custom-btn btn">Devamını Gör</a>
                    </div>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</section>

    
    {% endblock %}   
</body>