{% load static %}
{% include 'partials/nav.html' %}
{% block content %} 
<section class="pb-4" style="background-color: var(--section-bg-color);">
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-4 col-md-6 col-12 mt-4 mb-lg-0">
                <div class="custom-block-wrap">
                    <div class="custom-block">
                        <div class="custom-block-body">
                            <h5 class="mb-1"><a href="{% url 'postdetail' post.id %}" class="title-post">{{ post.title }}</a></h5>
                            <small class="mb-2 text-secondary">{{ post.date_post }}</small>
                            <p style="color: black;">{{ post.content|truncatechars:230 }}</p>
                        </div>
                        <a href="{% url 'postdetail' post.id %}" class="custom-btn btn">Devamını Gör</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




{% include 'partials/footer.html' %}
{% endblock %}   
</body>