{% load static %}
{% include 'partials/nav.html' %}
        {% block content %}
            <div class="container ml-2 mt-1">
                <div class="row">
                    <div class= "col-md-12 offset-md-2">
                        <div class="card shadow mt-1 mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <small>{{ post.date_post }}</small>
                                        <br>
                                        <h4>{{ post.title }}</h4>
                                        <p class="text-justify my-3 text-secondary">{{ post.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}  
            
            

{% include 'partials/footer.html' %}
        </body>