{% load static %}
{% include 'partials/nav.html' %}
{% block content %}
    <section class="volunteer-section">
        <div class="container">
            <div class="custom-form volunteer-form mb-5 mb-lg-0"action="{% url 'contact' %}" method="POST" role="form">
                <div class="row">
                    <div class="col-md-9">
                        <h4>{{ post.title }}</h4>
                        <small>{{ post.date_post }}</small>
                        <p class="text-justify my-3 text-secondary">{{ post.content }}</p>
                    </div>
                </div>
                <button onclick="window.history.back()" class="back-to-page-btn">&#10006;</button>
            </div>
        </div>
    </section>
{% endblock %}  
            
            

{% include 'partials/footer.html' %}
</body>